@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.cmain{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #211031;
    color: aliceblue;
    padding-top: 8vh;
}

.icons{
    font-size: calc(10px + 1vmax);
    padding-top: 10px;
}

.a {
    text-decoration: none !important;
    cursor: pointer;
  }

.title{
    font-size: calc( 6px + 2vmax);
    font-family: 'Kanit','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 8vw;
}

.subtitle{
    font-size: calc( 6px + 1vmax);
    font-family: 'Kanit','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 8vw;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

.cardbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 8vw;
    margin-left: 8vw;
    margin-bottom: 5vh;
    text-decoration: none;
}

.card{
    display: flex;
    flex-direction: column;
    width: calc(320px + 2vw);
    height: fit-content;
    padding: 20px;
    background-color: #432a5a;
    color: aliceblue;
    border-radius: 9px;
    border-color: #c8b1dd;
    border-width: 2px;
    border-style: solid;   
    margin-right: 30px;
    margin-top: 30px; 
}

.card:hover{
    border-color: blueviolet;
}

.cardtitle{
    font-family: 'Kanit','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(11px + 1vmax); 
    font-weight: 600;
    padding-top: 10px;
}

.cardsubtitle{
    font-family: 'Kanit','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(10px + 1vmin);
}

.setbtn {
    background-color: #dac1f0;
    border: 1px solid #42344e;
    padding: 8px 18px;
    border-radius: 15px;
    margin-top: 1vh;
    transition: .3s;
    color: #211031;
    font-weight: bold;
   }
   
   .setbtn:hover {
    border: 1px solid #42344e;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-color: #c8b1dd;
    cursor: pointer;
   }
