@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.pointslist {
    font-size: calc(4px + 1vmax);
    font-family: 'Kanit','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: calc(75vw);
    text-align: center;
    margin-left: 10vw;
    border-radius: 10px;
    margin-bottom: 5vh;
  }
  
  .pointslist td, .pointslist th {
    padding: 8px;
  }
  
  .pointslist tr:nth-child(even){background-color: #422c55;}

  .pointslist th:nth-child(1){
    border-top-left-radius: 15px;
  }
  
  .pointslist th:nth-child(3){
      border-top-right-radius: 15px;
  }
  
  .pointslist th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #381e50;
    color: white;
  }

  .accord{
      font-size: calc(8px + 1vmax);
      font-family: 'Kanit','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      flex-direction: column;
      background-color: #381e50;
      justify-content: center;
      width: calc(75vw);
      padding-left: 5vw;
      margin-left: 8vw;
      height: calc(50px + 2vh);
      border-radius: 20px;
      margin-bottom: 3vh;
  }

  .accord:hover{
      cursor: pointer;
  }